:root {
    --ulight: #000000;
    --light: #06f49a;
    --mlight: #294541;
    --ldark: #3b383c;
    --dark: #2e011a;
    --back: #1b3832;
}

body{
    display: flex;
    justify-content: space-around;
    background-color: var(--back);

}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-top: 10vh;
    height: 70vh;
    width: 30vw;
    background-color: var(--ldark);
    border-radius: 20px;
    box-shadow: 20px 20px 50px var(--dark);
    border: 35px solid var(--dark);

}
.top {
    display: flex;
    flex-direction: column;
    height: 16vh;

}

.logo {
    height: 8vh;
}
.screen {
    display: flex;
    justify-content: space-around;
    background-color: var(--mlight);
    width: 25vw;
    height: 13vh;
    text-align: right;
    border-width: 20px;
    border: solid var(--dark);
    color: var(--light);
    max-width: 23vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#screen-1 {
    padding-bottom: 3vw;
}

.interface {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45vh;
    width: 30vw;

}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-Style {
    height: 6vh;
    width: 6vw;
    background-color: var(--mlight);
    border-radius: 0.5vw;
    border-width: .5vw;
    border: solid var(--dark);
    color: var(--light);
    font-family: "Fira Code Medium", serif;
    -webkit-transition-duration: 1s;

}

.button-Style:active {
    color: var(--ulight);
    background-color: var(--light);
    box-shadow:0px 0px 10px var(--light);
    -webkit-transition-duration: 0.1s;
}




